body {
  background-color: rgb(230, 238, 255);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  width: 98%;
}

.map {
  display: inline-block;
  width: 70%;
}

.state-info {
  display: inline-block;
  width: 30%;
}

.state-card {
  background-color: rgb(204, 242, 252);
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.card-heading {
  margin-bottom: 0;
}

hr {
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.map-key {
  width: 200px;
  height: 25px;
  background: linear-gradient(90deg, rgb(0, 255, 150), rgb(255, 255, 150), rgb(255, 0, 150));
  display: inline-block;
  text-align: left;
  border-style: solid;
}

.map-key-min {
  display: inline-block;
  margin-right: 60%;
  margin-left: 2%;
}

.map-key-max {
  display: inline-block;
}

.buttons {
  margin-bottom: 10px;
}

.btn {
  margin: 2px;
}